@using Vertr.MarketData.Contracts

@inject IDialogService DialogService
@inject NavigationManager Navigation

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid @ref=dataGrid
            TGridItem=OrderEventModel
            OnCellClick="HandleCellClick"
            Items="@_orderEvents"
            Virtualize=true
            ShowHover=true
            Style="width: 100%;"
            DisplayMode="DataGridDisplayMode.Table"
            RowSize="@DataGridRowSize.Medium">
            <PropertyColumn Property="@(p => p.OrderEvent.CreatedAt)" Sortable="true" Class="flash-on-update" />
            <PropertyColumn Property="@(p => GetEventName(p.OrderEvent))" Title="Event Type" Sortable="true" Class="flash-on-update" />
            <PropertyColumn Property="@(p => p.OrderEvent.RequestId)" Sortable="true" Class="flash-on-update" />
            <PropertyColumn Property="@(p => p.OrderEvent.OrderId)" Sortable="true" Class="flash-on-update" />
            <PropertyColumn Property="@(p => p.Instrument.GetFullName())" Title="Instrument" Sortable="true" Class="flash-on-update" />
        </FluentDataGrid>
    </div>
</div>
