@page "/instruments"

@using Vertr.Platform.Host.Components.Common
@using Vertr.MarketData.Contracts

@inject IDialogService DialogService

<h3>Instruments</h3>


<FluentStack>
    <FluentButton @onclick="@OpenDialogAsync" Appearance="Appearance.Accent">
        New Item
    </FluentButton>
    <FluentSpacer />
    <FluentPaginator State="@pagination" SummaryTemplate="@template" />
</FluentStack>

<FluentDataGrid TGridItem=Instrument
    OnRowClick="HandleRowClick"
    OnRowFocus="HandleRowFocus"
    OnCellClick="HandleCellClick"
    OnCellFocus="HandleCellFocus"
    Items="@instruments"
    Pagination="@pagination"
    ShowHover=true
    DisplayMode="DataGridDisplayMode.Table"
    RowSize="@DataGridRowSize.Medium">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Symbol.ClassCode)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Symbol.Ticker)" Sortable="true" />
    <PropertyColumn Property="@(p => p.InstrumentType)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Currency)" Sortable="true" />
    <PropertyColumn Property="@(p => p.LotSize)" Sortable="true" />
<!--
        <TemplateColumn Title="Details">
            <FluentButton Appearance="Appearance.Accent" @onclick="@(() => OpenPanelRightAsync(context))">>>></FluentButton>
        </TemplateColumn>
-->
</FluentDataGrid>

<FluentPaginator State="@pagination" />

<p><strong>@message</strong></p>

@code{
    private RenderFragment template = @<span />;
}
