@page "/instruments"
@using Vertr.Platform.Host.Components.Common
@using Vertr.Platform.Host.Components.Models

@inject IDialogService DialogService

<h3>Instruments</h3>

<FluentPaginator State="@pagination" SummaryTemplate="@template" />

<FluentDataGrid TGridItem=SimplePerson
    OnRowClick="HandleRowClick"
    OnRowFocus="HandleRowFocus"
    OnCellClick="HandleCellClick"
    OnCellFocus="HandleCellFocus"
    Items="@people"
    Pagination="@pagination"
    RowSize="@DataGridRowSize.Medium">
    <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.FirstName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.LastName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Age)" Sortable="true" />
    <TemplateColumn Title="Details">
        <FluentButton Appearance="Appearance.Accent" @onclick="@(() => OpenPanelRightAsync(context))">...</FluentButton>
    </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@pagination" />

<p><strong>@message</strong></p>

@code{
    private RenderFragment template = @<span />;
}
