@page "/portfolios/details/{PortfolioId}"

@using Vertr.Platform.Host.Components.Common
@using Vertr.Platform.Host.Components.Models

@inject IDialogService DialogService
@inject IToastService ToastService

@inject NavigationManager Navigation

<h3>Portfolio</h3>


<FluentStack Orientation="Orientation.Horizontal">
    <FluentAnchor Href="/portfolios" Appearance="Appearance.Hypertext">Back to portfolios</FluentAnchor>
    <FluentSpacer />
    <FluentButton Appearance=Appearance.Accent
                  Title="Open position"
                  @onclick="@HandleOpenPositionAction">Open position</FluentButton>

    <FluentButton IconEnd="@(new Icons.Regular.Size20.Money())"
                  Appearance=Appearance.Accent
                  Title="Deposit"
                  @onclick="@HandleDepositAction" />
    <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                  Appearance=Appearance.Lightweight
                  Title="Delete"
                  @onclick="@HandleDeleteAction" />
</FluentStack>

<br />

@if (_portfolio != null)
{
<FluentStack Orientation="Orientation.Horizontal"
                 HorizontalAlignment="HorizontalAlignment.Center"
                 VerticalAlignment="VerticalAlignment.Top">

    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
        <FluentTextField Value="@_portfolio.Id.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Id:</FluentTextField>
        <FluentTextField Value="@_portfolio.UpdatedAt.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Updated At:</FluentTextField>
        <FluentTextField Value="@_portfolio.Name" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Name:</FluentTextField>
        <FluentTextField Value="@_portfolio.IsBacktest.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;" Label="Is Backtest"></FluentTextField>
        </div>
    </div>

    <FluentSpacer />

    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentDataGrid @ref=dataGrid
                            TGridItem=PositionModel
                            Items="@_positions"
                            ShowHover=true
                            DisplayMode="DataGridDisplayMode.Table"
                            RowSize="@DataGridRowSize.Medium">
                <PropertyColumn Property="@(p => p.Instrument.GetFullName())" Sortable="true"  Title="Instrument" />
                <PropertyColumn Property="@(p => p.Position.Balance.ToString())" Sortable="true" Title="Balance" />
            </FluentDataGrid>
        </div>
    </div>
</FluentStack>

<br />

<TradeOperationsGrid Height="800px"
    @ref=operationsGrid
    TableName="Trade operations"
    PortfolioId="@PortfolioId" />
}
else
{
    <h4>Portfolio is not found</h4>
}


