<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Dashboard</FluentNavLink>
             <FluentNavGroup Expanded="true" Title="Market Data" Icon="@(new Icons.Regular.Size20.DataArea())">
                <FluentNavLink Href="instruments" Icon="@(new Icons.Regular.Size20.DataBarVerticalStar())" IconColor="Color.Accent">Instruments</FluentNavLink>
                <FluentNavLink Href="subscriptions" Icon="@(new Icons.Regular.Size20.DatabaseArrowUp())" IconColor="Color.Accent">Subscriptions</FluentNavLink>
                <FluentNavLink Href="candles" Icon="@(new Icons.Regular.Size20.DataWhisker())" IconColor="Color.Accent">Candles</FluentNavLink>
                <FluentNavLink Href="history" Icon="@(new Icons.Regular.Size20.DataUsage())" IconColor="Color.Accent">History</FluentNavLink>
             </FluentNavGroup>
            <FluentNavLink Href="strategies" Icon="@(new Icons.Regular.Size20.Engine())" IconColor="Color.Accent">Strategies</FluentNavLink>
            <FluentNavLink Href="backtests" Icon="@(new Icons.Regular.Size20.ArrowRotateClockwise())" IconColor="Color.Accent">Backtests</FluentNavLink>
            <FluentNavLink Href="portfolios" Icon="@(new Icons.Regular.Size20.Briefcase())" IconColor="Color.Accent">Portfolios</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
