@page "/backtests"

@using Vertr.MarketData.Contracts

@inject IDialogService DialogService
@inject IToastService ToastService

<h3>Backtests</h3>

<FluentStack>
    <FluentButton @onclick="OpenDialogAsync" Appearance="Appearance.Accent">
        Add
    </FluentButton>
    <FluentButton @onclick="RefreshAsync" Appearance="Appearance.Accent">
        Refresh
    </FluentButton>
</FluentStack>

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid @ref=dataGrid
            TGridItem=BacktestModel
            OnCellClick="HandleCellClick"
            Items="@_backtests"
            Virtualize=true
            ShowHover=true
            Style="width: 100%;"
            DisplayMode="DataGridDisplayMode.Table"
            RowSize="@DataGridRowSize.Medium">
                <PropertyColumn Property="@(p => p.Backtest.From.ToString(ModelConsts.DateTimeFormat))" Title="From" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.To.ToString(ModelConsts.DateTimeFormat))" Title="To" Sortable="true" />
                <PropertyColumn Property="@(p => p.Strategy.Name)" Title="Strategy" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.Description)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.ExecutionState)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.ProgressMessage)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.PortfolioId)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Backtest.CreatedAt.ToString(ModelConsts.DateTimeFormat))" Title="Created At" Sortable="true" />
                <TemplateColumn Title="">
                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                                  Appearance=Appearance.Lightweight
                                  Title="Delete"
                                  @onclick="@(async () => await HandleDeleteAction(context))" />
                </TemplateColumn>
        </FluentDataGrid>

    </div>
</div>
