@page "/backtests/details/{BacktestId}"

@using Vertr.MarketData.Contracts

@inject IDialogService DialogService
@inject IToastService ToastService

@inject NavigationManager Navigation

<h3>Backtest Details</h3>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentAnchor Href="/backtests" Appearance="Appearance.Hypertext">Back to backtests</FluentAnchor>
    @if(Content != null)
    {
        <FluentSpacer />
        <FluentAnchor Href=@($"/portfolios/details/{Content!.Portfolio?.Id}") Appearance="Appearance.Hypertext">View portfolio</FluentAnchor>
        <FluentSpacer />
        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
            Appearance=Appearance.Lightweight
            Title="Delete"
            @onclick="HandleDeleteAction" />
    }
</FluentStack>
<br />
@if (Content != null)
{
    <FluentStack Orientation="Orientation.Horizontal">
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div style="overflow-x: auto;">
                <FluentTextField Value="@Content.Backtest.Id.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;" Label="Id:" />
                <FluentTextField Value="@Content.Backtest.From.ToString(ModelConsts.DateTimeFormat)" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">From:</FluentTextField>
                <FluentTextField Value="@Content.Backtest.To.ToString(ModelConsts.DateTimeFormat)" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">To:</FluentTextField>
                <FluentTextField Value="@Content.Backtest.Description" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Description:</FluentTextField>
                <FluentTextField Value="@Content.Strategy.Name" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">
                    <FluentAnchor Href=@($"/strategies/details/{Content.Strategy.Id}") Appearance="Appearance.Hypertext">Strategy:</FluentAnchor>
                </FluentTextField>
                <FluentTextField Value="@Content.Backtest.PortfolioId.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Portfolio Id:</FluentTextField>
                <FluentTextField Value="@Content.Backtest.ExecutionState.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">State:</FluentTextField>
                <FluentTextField Value="@Content.Backtest.ProgressMessage?.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Message:</FluentTextField>
                <FluentTextField Value="@Content.Backtest.IsCancellationRequested.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Cancel requested:</FluentTextField>
            </div>
        </div>
        <FluentSpacer />
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div style="overflow-x: auto;">
                <FluentButton OnClick="OnStartAsync" Appearance="Appearance.Accent" Disabled="StartDiasbled">Start</FluentButton>
                <FluentButton OnClick="OnCancelAsync" Appearance="Appearance.Accent" Disabled="CancelDiasbled">Cancel</FluentButton>
            </div>
        </div>
    </FluentStack>
}
else
{
    <h4>Backtest is not found</h4>
}
