@page "/instruments"

@using Vertr.MarketData.Contracts

@inject IDialogService DialogService

<h3>Instruments</h3>


<FluentStack>
    <FluentButton @onclick="@OpenDialogAsync" Appearance="Appearance.Accent">
        Add
    </FluentButton>
</FluentStack>

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid
            @ref=dataGrid
            TGridItem=Instrument
            OnCellClick="HandleCellClick"
            Items="@_instrumentList"
            Virtualize=true
            ShowHover=true
            Style="width: 100%;"
            DisplayMode="DataGridDisplayMode.Table"
            RowSize="@DataGridRowSize.Medium">
                <PropertyColumn Property="@(p => p.Symbol.ClassCode)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Symbol.Ticker)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
                <PropertyColumn Property="@(p => p.InstrumentType)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Currency)" Sortable="true" />
                <PropertyColumn Property="@(p => p.LotSize)" Sortable="true" />
                <TemplateColumn Title="">
                     <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                        Appearance=Appearance.Lightweight
                        Title="Delete"
                        @onclick="@(async () => await HandleDeleteAction(context))" />
                </TemplateColumn>
        </FluentDataGrid>

    </div>
</div>
