@page "/portfolios/details/{PortfolioId}"

@inject IDialogService DialogService
@inject IToastService ToastService

@inject NavigationManager Navigation

<FluentStack>
    @if(_portfolio == null)
    {
        <h3>Portfolio</h3>
    }
    else if (_portfolio.IsBacktest)
    {
        <h3>Backtest Portfolio</h3>
    }
    else
    {
        <h3>Strategy Portfolio</h3>
    }
</FluentStack>

<br />

<FluentStack Orientation="Orientation.Horizontal">
    <FluentAnchor Href="/portfolios" Appearance="Appearance.Hypertext">Back to portfolios</FluentAnchor>
    @if (_portfolio != null)
    {
        <FluentSpacer />
        @if (_portfolio.IsBacktest)
        {
            <FluentAnchor Href=@($"/backtests/details/{_backtestId!.Value}") Appearance="Appearance.Hypertext">View Backtest</FluentAnchor>
        }
        else
        {
            <FluentAnchor Href=@($"/strategies/details/{_strategyId!.Value}") Appearance="Appearance.Hypertext">View Strategy</FluentAnchor>
        }
    }
    <FluentSpacer />
    @if (_simulatedExecutionMode)
    {
        <FluentBadge Appearance="Appearance.Neutral" Fill="highlight" BackgroundColor="#000" Color="#fff" Circular>Order execution: Simulated mode</FluentBadge>
    }
    else
    {
        <FluentBadge Fill="somevalue" BackgroundColor="red" Color="white" Circular>Order execution: Live trading mode</FluentBadge>
    }
    <FluentSpacer />
    <FluentButton Appearance=Appearance.Accent
                  Title="Open position"
                  @onclick="@HandleOpenPositionAction">Open position</FluentButton>
</FluentStack>

<br />

@if (_portfolio != null)
{
<FluentStack Orientation="Orientation.Horizontal"
                 HorizontalAlignment="HorizontalAlignment.Center"
                 VerticalAlignment="VerticalAlignment.Top">

    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentTextField Value="@_portfolio.Id.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Id:</FluentTextField>
            <FluentTextField Value="@_portfolio.UpdatedAt.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Updated At:</FluentTextField>
            <FluentTextField Value="@_portfolio.Name" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Name:</FluentTextField>
        </div>
    </div>

    <FluentSpacer />

    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentDataGrid @ref=dataGrid
                TGridItem=PositionModel
                Items="@_positions"
                Virtualize=true
                ShowHover=true
                Style="width: 100%;"
                DisplayMode="DataGridDisplayMode.Table"
                RowSize="@DataGridRowSize.Medium">
                    <PropertyColumn Property="@(p => p.Instrument.GetFullName())" Sortable="true"  Title="Instrument" />
                    <PropertyColumn Property="@(p => p.Position.Balance.ToString())" Sortable="true" Title="Balance" />
                    <TemplateColumn Title="">
                            <FluentButton Title="Close" Disabled=@context.TradingDisabled @onclick="@(async () => await @HandleClosePositionAction(context))" >Close</FluentButton>
                    </TemplateColumn>
                    <TemplateColumn Title="">
                            <FluentButton Title="Reverse" Disabled=@context.TradingDisabled @onclick="@(async () => await HandleReversePositionAction(context))">Reverse</FluentButton>
                    </TemplateColumn>
            </FluentDataGrid>
        </div>
    </div>
</FluentStack>

<br />

<TradeOperationsGrid 
    @ref=operationsGrid
    Height="800px"
    TableName="Trade operations"
    PortfolioId="@PortfolioId" />
}
else
{
    <h4>Portfolio is not found</h4>
}


