@page "/portfolios"

@using Vertr.MarketData.Contracts

@inject IDialogService DialogService

@inject NavigationManager NavigationManager

<h3>Portfolios</h3>

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid @ref=dataGrid
            TGridItem=PortfolioModel
            OnCellClick="HandleCellClick"
            Items="@_portfolios"
            Virtualize=true
            ShowHover=true
            DisplayMode="DataGridDisplayMode.Table"
            Style="width: 100%;"
            RowSize="@DataGridRowSize.Medium">
                <PropertyColumn Property="@(p => p.Portfolio.Id)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Portfolio.Name)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Portfolio.UpdatedAt.ToString(ModelConsts.DateTimeFormat))" Sortable="true" />
                <PropertyColumn Property="@(p => p.Portfolio.IsBacktest)" Sortable="true" />
        </FluentDataGrid>
    </div>
</div>

