@page "/stocks"

@using Vertr.MarketData.Contracts

@inject IDialogService DialogService

@inject NavigationManager Navigation

<h3>Stocks</h3>

<div>
    <p>Is connected: @_isConnected</p>
</div>

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid @ref=dataGrid
                        TGridItem=StockModel
                        Items="@_stocks"
                        Virtualize=true
                        ShowHover=true
                        Style="width: 100%;"
                        DisplayMode="DataGridDisplayMode.Table"
                        RowSize="@DataGridRowSize.Medium">
            <PropertyColumn Property="@(p => p.Symbol)" Sortable="true" />
            <PropertyColumn Property="@(p => p.DayOpen)" Sortable="true" />
            <PropertyColumn Property="@(p => p.DayHigh)" Sortable="true" />
            <PropertyColumn Property="@(p => p.DayHigh)" Sortable="true" />
            <PropertyColumn Property="@(p => p.DayLow)" Sortable="true" />
            <PropertyColumn Property="@(p => p.LastChange)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Change)" Sortable="true" />
            <PropertyColumn Property="@(p => p.PercentChange)" Sortable="true" />
            <PropertyColumn Property="@(p => p.UpdatedAt)" Sortable="true" />
        </FluentDataGrid>

    </div>
</div>
