@page "/strategies/details/{StrategyId}"

@using Vertr.MarketData.Contracts
@using Vertr.Platform.BlazorUI.Components.Models
@using Vertr.Strategies.Contracts
@using Vertr.PortfolioManager.Contracts;

@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject IToastService ToastService

<h3>Strategy Details</h3>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentAnchor Href="/strategies" Appearance="Appearance.Hypertext">Back to strategies</FluentAnchor>
    @if (Content != null)
    {
        <FluentSpacer />
        <FluentAnchor Href=@($"/portfolios/details/{Content?.Strategy.PortfolioId}") Appearance="Appearance.Hypertext">View portfolio</FluentAnchor>
        <FluentSpacer />
        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
            Appearance=Appearance.Lightweight
            Title="Delete"
            @onclick="HandleDeleteAction" />
    }
</FluentStack>

<br />

@if (Content != null)
{
    <FluentStack Orientation="Orientation.Horizontal">
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div style="overflow-x: auto;">
                <FluentTextField Value="@Content.Strategy.Id.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Id:</FluentTextField>
                <FluentTextField Value="@Content.Strategy.PortfolioId.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Portfolio Id:</FluentTextField>
                <FluentTextField Value="@Content.Strategy.CreatedAt.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Created At:</FluentTextField>
                <FluentTextField @bind-Value="@Content.Strategy.Name" Appearance="FluentInputAppearance.Filled" style="width: 100%;">Name:</FluentTextField>

                <FluentSelect Items="@(Enum.GetValues<StrategyType>())"
                    @bind-SelectedOption="@Content.Strategy.Type"
                    Label="Type:"
                    style="width: 100%;" />

                <FluentSelect TOption="Instrument"
                    Label="Instrument"
                    Items="@AllInstruments"
                    OptionValue="@(p => p.Id.ToString())"
                    OptionText="@(p => p.GetFullName())"
                    @bind-SelectedOption="@Content.Instrument" />

                <FluentNumberField @bind-Value="@Content.Strategy.QtyLots" Appearance="FluentInputAppearance.Filled" style="width: 100%;">Qty lots:</FluentNumberField>
                <FluentTextField Value="@Content.Strategy.IsActive.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Is active:</FluentTextField>
            </div>
        </div>
        <FluentSpacer />
        <div style="display: table; table-layout: fixed; width: 100%;">
            <div style="overflow-x: auto;">
                <FluentButton OnClick="OnActivate" Appearance="Appearance.Accent" Disabled="ActivateDiasbled">Activate</FluentButton>
                <FluentButton OnClick="OnDeactivate" Appearance="Appearance.Accent" Disabled="!ActivateDiasbled">Deactivate</FluentButton>
                <FluentButton OnClick="OnSave" Appearance="Appearance.Accent">Save</FluentButton>
            </div>
        </div>

    </FluentStack>
    <br />
    <h4>Order Events (last 100)</h4>

    <OrderEvents PortfolioId="@Content.Strategy.PortfolioId.ToString()" />
}
else
{
    <h4>Strategy is not found</h4>
}
