@page "/strategies/details/{StrategyId}"

@using Vertr.MarketData.Contracts
@using Vertr.Platform.BlazorUI.Components.Models
@using Vertr.Strategies.Contracts
@using Vertr.PortfolioManager.Contracts;

@inject IDialogService DialogService
@inject NavigationManager Navigation

<h3>Strategy Details</h3>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentAnchor Href="/strategies" Appearance="Appearance.Hypertext">Back to strategies</FluentAnchor>
    @if (Content != null)
    {
        <FluentSpacer />
        <FluentAnchor Href=@($"/portfolios/details/{Content?.Strategy.PortfolioId}") Appearance="Appearance.Hypertext">View portfolio</FluentAnchor>
        <FluentSpacer />
        <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
            Appearance=Appearance.Lightweight
            Title="Delete"
            @onclick="HandleDeleteAction" />
    }
</FluentStack>

<br />

@if (Content != null)
{
    <FluentTextField Value="@Content.Strategy.Id.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Id:</FluentTextField>
    <FluentTextField Value="@Content.Strategy.CreatedAt.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Created At:</FluentTextField>
    <FluentTextField @bind-Value="@Content.Strategy.Name" Appearance="FluentInputAppearance.Filled" style="width: 100%;">Name:</FluentTextField>

    <FluentSelect Items="@(Enum.GetValues<StrategyType>())"
        @bind-SelectedOption="@Content.Strategy.Type"
        Label="Type:"
        style="width: 100%;" />

    <FluentSelect TOption="Instrument"
        Label="Instrument"
        Items="@AllInstruments"
        OptionValue="@(p => p.Id.ToString())"
        OptionText="@(p => p.GetFullName())"
        @bind-SelectedOption="@Content.Instrument" />

    <FluentNumberField @bind-Value="@Content.Strategy.QtyLots" Appearance="FluentInputAppearance.Filled" style="width: 100%;">Qty lots:</FluentNumberField>
    <FluentCheckbox @bind-Value="@Content.Strategy.IsActive" Appearance="FluentInputAppearance.Filled" style="width: 100%;" Label="Is Active"></FluentCheckbox>
    <br />
    <br />
    <FluentTextField Value="@Content.Strategy.PortfolioId.ToString()" ReadOnly Appearance="FluentInputAppearance.Filled" style="width: 100%;">Portfolio Id:</FluentTextField>
}
else
{
    <h4>Strategy is not found</h4>
}
